---
layout: default
title: NYLogic
---

<h3><strong>Calendar</strong></h3>

{% assign count=0 %}

{% for post in site.posts reversed %}
{% if post.semester=="fall-2019" %}
	<p date="{{ post.date }}">
	<strong>{{ post.date | date: "%B %e" }}</strong>: 
	{% for item in post.categories %}
	{% assign category=item %}	
		{% if category=="set-theory-seminar" %}
			<strong><a href="/set-theory-seminar.html">Set Theory Seminar</a></strong>   
		{% elsif category=="logic-workshop" %}
			<strong><a href="/logic-workshop">Logic Workshop</a></strong>
		{% elsif category=="model-theory-seminar" %}
			<strong><a href="/model-theory-seminar">Model Theory Seminar</a></strong>
		{% elsif category=="MOPA" %}
			<strong><a href="/MOPA">MOPA</a></strong>
		{% endif %}
	{% endfor %}
	{% if post.note %}
			<br>{{post.note}}
		{% endif %}
	<br><a href="{{post.url}}"><strong>{{post.talk_title}}</strong></a><br>
	{% if post.talk %}
	
		{% if post.speaker_website %}
			<strong><a href={{post.speaker_website}} target="_blank">{{post.speaker_first}} {{post.speaker_last}}</a></strong>,
		{% else %}
			<strong>{{post.speaker_first}} {{post.speaker_last}}</strong>,
		{% endif %}
		{{post.affiliation}}<br>


		<strong><a data-toggle="collapse" href="javascript:toggle('{{count}}');">Abstract</a></strong>
						<div style="display:none" id="{{count}}">
							{{post.abstract}}
						</div>




	{% else %}
		{{post.abstract}}
	{% endif %}

	</p>

	{% assign count = count | plus: 1 %}
	{% endif %}
{% endfor %}

