<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"> 
</script>
<script type="text/javascript">
function toggle(id)
{
	div=document.getElementById(id);
	style=div.style.display;
	if(style=="block")
	{
		if(div.style.setProperty)
		{
			div.style.setProperty('display','none','');
		}
		else
		{
			div.style.setAttribute('display','none');
		}
	}
	else
	{
		if(div.style.setProperty)
		{
			div.style.setProperty('display','block','');
		}
		else
		{
			div.style.setAttribute('display','block');
		}
	}
}
</script>
  </head>
  <body>
    <section class="page-header2">
	
      <h1 class="project-name">{{ page.title }}</h1>
	  <a href="/" class="nav">NYLogic</a> &nbsp;&nbsp;<a href="/set-theory-seminar.html" class="nav">Set Theory Seminar</a> &nbsp;&nbsp; <a href="/model-theory-seminar.html" class="nav">Model Theory Seminar</a> &nbsp;&nbsp; <a href="/logic-workshop.html" class="nav">Logic Workshop</a> 
	    &nbsp;&nbsp; <a href="/MOPA.html" class="nav">MOPA</a>&nbsp;&nbsp; <a href="/MAMLS.html" class="nav">MAMLS</a>
      	    
    </section>

    <section class="main-content">
      {{ content }}
	  
	  {% assign count=0 %}

{% capture seminar %}{{page.seminar_title}}{% endcapture %}
{% capture semester %}{{page.semester}}{% endcapture %}

{% for post in site.posts %}
{% if post.categories contains seminar and post.semester==semester %}
	<p>
	<strong>{{ post.date | date: "%B %e" }}</strong><br>
		{% if post.talk %}
			{% if post.note %}
				{{post.note}}
			{% endif %}
			{% if post.speaker_website %}
				<strong><a href={{post.speaker_website}} target="_blank">{{post.speaker_first}} {{post.speaker_last}}</a></strong>,
			{% else %}
				<strong>{{post.speaker_first}} {{post.speaker_last}}</strong>,
			{% endif %}
			{{post.affiliation}}<br>
			<a href="{{post.url}}"><strong>{{post.talk_title}}</strong></a><br>

			<strong><a data-toggle="collapse" href="javascript:toggle('{{count}}');">Abstract</a></strong>
						<div style="display:none" id="{{count}}">
							{{post.abstract}}
						</div>


		{% else %}
			{{post.abstract}}
		{% endif %}

	</p>

	{% assign count = count | plus: 1 %}
{% endif %}
{% endfor %}
						
						
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.<br>
		Webmaster: <a href="http://victoriagitman.github.io">Victoria Gitman</a>
		
		</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>